BEZGROW_E2E_ADMIN_EMAIL=pushkergera@gmail.com
BEZGROW_E2E_ADMIN_PASSWORD=9812001433pushker
BEZGROW_E2E_USER_EMAIL=gera.jitender2011@gmail.com
BEZGROW_E2E_USER_PASSWORD=251284jeetu
BEZGROW_E2E_BASE_URL=
BEZGROW_E2E_TEST_BUSINESS_PREFIX=E2E-TEST-
BEZGROW_E2E_ALLOW_DESTRUCTIVE_TESTS=false
